@import './themes/variables';

///////////////////////////
/* input type file style */
///////////////////////////

.input-file-btn {
	display: none;
	& ~ .custom_file_btn {
		display: inline-flex;
		align-items: center;
		margin-bottom: 0;
		& > span {
			margin-right: 0.25em;
			&:before {
				content: "\f1c5";
				font-family: FontAwesome;
			}
		}
	}
}

// close button style
.btn {
	&.del-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		background: none;
		border: none;
		height: 25px;
		width: 25px;
		z-index: 5;
		&:before {
			content: "\f00d";
			font-family: FontAwesome;
		}
		&:hover {
			cursor: pointer;
		}
	}
}

// preview style
ul.file-preview {
	list-style: none;
	padding-left: 0;
	margin-top: 16px;
	max-width: 100%;
	li {
		display: inline-block;
		position: relative;	
		img {
			width: auto;
			height: 100%;
			max-width: 100%;
			max-height: 250px;
		}
	}
}

small.vji-small-helper-text {
  display: none;
  margin-top: 3px;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: map-get($theme-colors, primary);
  color: white;
  font-size: 75%;
  opacity: 0;

  &.show {
    display: inline-block;
    opacity: 1;
  }
}