body {
	background-color: rgb(51,73,95);
}

.container {
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
	width: 100%;
	.row {
		display: flex;
		flex: 1 1 wrap;
    padding: 50px 0;
		.col {
			flex: 1 1 nowrap;
		}
	}
}

.form-group {
	label {
		display: block;
		margin-bottom: 8px;
		color: white;
	}
}